<div class="mt-5 container p-3">
  <h2 class="text-center text-muted mb-3">Our Products</h2>
  <div class="d-flex justify-content-between mt-5">
    <button
      class="btn btn-outline-primary"
      [routerLink]="['/products', 0, 'edit']"
    >
      Add New Product
    </button>
    <input type="text" class="form-control w-25" placeholder="Search ...." />
  </div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col">Product Qunatity</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of listProducts; track $index) {

      <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        @if(product.quantity > 0) {
        <td>{{ product.quantity }}</td>
        } @else {
        <td>Sold Out</td>
        }
        <td>
          <a [routerLink]="['/products', product.id, 'edit']">
            <i class="fs-2 mx-1 text-info fa-solid fa-pen-to-square"></i>
          </a>
          <a [routerLink]="['/products', product.id]">
            <i class="fs-2 mx-1 text-warning fa-solid fa-eye"></i>
          </a>

          <i
            class="fs-2 mx-1 text-danger fa-solid fa-trash"
            style="cursor: pointer"
          ></i>
        </td>
      </tr>
      } @empty {
      <div>No Products</div>
      }
    </tbody>
  </table>
</div>
