<div class="container mt-5">
  <div class="row justify-content-center align-content-center g-0">
    <div class="col-lg-8 col-md-12 col-sm-12 ">
      <p class="discover fs-5 fw-normal">Discover Your Test</p>
      <h1 class="mb-5">We Provide Good Food For Your Family!</h1>
      <p class="text-muted mb-5">
        Ut enim acgsd minim veniam, quxcis nostrud exercitation ullamco laboris
        nisi ufsit aliquip ex ea commodo consequat is aute irure m, quis nostrud
        exer.
      </p>
      <div class="row">
        <app-about-card class="col-lg-6 col-md-6 col-sm-6"></app-about-card>
        <app-about-card class="col-lg-6 col-md-6 col-sm-6"></app-about-card>
        <app-about-card class="col-lg-6 col-md-6 col-sm-6"></app-about-card>
        <app-about-card class="col-lg-6 col-md-6 col-sm-6"></app-about-card>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-end align-content-center">
      <img src="images/about.png" class="img-fluid h-75" alt="">
    </div>
  </div>
</div>
