<div class="container-layout">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand fw-semibold" href="#"
        ><span class="pe-2"><i class="fa-solid fa-burger"></i></span>All Food</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="w-50 mx-auto input-group" role="search">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <!-- <button type="submit" class="input-group-text btn btn-light" id="basic-addon2">Search</button> -->
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown user-nav-item rounded-3">
            <img
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
              class="img-fluid rounded-pill"
              alt=""
            />
            <a
              class="nav-link dropdown-toggle d-inline-block text-light"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Ahmed Ali
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Logout</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-sidebar class="bg-light rounded-top-5 p-3"></app-sidebar>
</div>
