<footer class="container-fluid mt-5">
  <div class="container p-4">
    <section class="row justify-content-center align-items-start">
      <section class="col-lg-3 col-md-6 col-sm-12">
        <h3 class="pb-2">
          All Food
        </h3>
        <p class="pb-0">
          <a href="https://www.google.com/maps/search/?api=1" target="_blank"
            >1734 Stonecoal Road</a
          >
        </p>
        <p>
          <span class="fw-bolder">Phone : </span>
          <a href="tel:+021-95-51-84" target="_blank">+021-95-51-84</a>
        </p>
        <p>
          <span class="fw-bolder">Email : </span>
          <a href="mailto:example@gmail.com" target="_blank"
            >example&#64;gmail.com</a
          >
        </p>
        <section class="icons">
          <i class="fa-brands fa-x-twitter pe-3"></i
          ><i class="fa-brands fa-facebook pe-3"></i
          ><i class="fa-brands fa-instagram"></i
          >
        </section>
      </section>
      <section class="col-lg-3 col-md-6 col-sm-12">
        <h5>Useful Links</h5>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </section>
      <section class="col-lg-3 col-md-6 col-sm-12">
        <h5>Our Products</h5>
        <ul>
          <li>Seciton</li>
          <li>Seciton</li>
          <li>Seciton</li>
          <li>Seciton</li>
        </ul>
      </section>
      <section class="col-lg-3 col-md-6 col-sm-12">
        <h5>Our Newsletter</h5>
        <p>
          Subscribe to our newsletter and receive the latest news about our
          products and services!
        </p>
        <form>
          <section class="input-group mb-4">
            <input
              type="text"
              id="email"
              class="form-control"
              placeholder="Email Address"
            />
            <span  (click)="subscribe()" class="input-group-text text-light"> Subscribe </span>
          </section>
          <span class="text-warning ps-2">{{success}}</span>
        </form>
      </section>
    </section>
    <section class="container copy text-center pt-4">
      <p>&copy; Copyright All Food All Rights Reserved</p>
    </section>
  </div>
</footer>
