<div class="container user-mng my-5 rounded-3 p-4">
  <h5>Your Balance</h5>
  <div class="container balance-container rounded-3 p-3 text-light my-4">
    <p class="mb-2 fs-5">Balance</p>
    <h3 class="mb-3">$12.000</h3>
    <button class="btn btn-outline-light me-2">
      <span><i class="fa-solid fa-arrow-up-from-bracket"></i></span>
      Transfer
    </button>
    <button class="btn btn-outline-light">
      <span><i class="fa-solid fa-right-left"></i></span>
      Transactions
    </button>
  </div>
  <hr />
  <h5 class="mb-3">User Management</h5>
  <div class="container mb-4 user">
      <button class="btn me-3">View Users</button>
      <button class="btn">Add New User</button>
  </div>
  <h5>Orders & Products</h5>
  <div class="container">
    <ul>
      <li><a href="">View Orders</a></li>

      <li><a href="">Add/Edit Orders</a></li>
    </ul>
  </div>
  <h5>Reports & Analytics</h5>
  <div class="container">
    <ul>
      <li><a href="">Sales Performance</a></li>
      <li><a href="">Monthly Revenue Chart </a></li>
      <li><a href="">User Activity</a></li>
    </ul>
  </div>
</div>
