<div class="row mt-3 mx-1 g-2">
  @for (category of categories; track $index) {
  <h4 class="mb-3">{{ category.name }}</h4>

  @for (product of products; track $index) { @if (product.category ==
  category.name) {
  <div class="col-3 mb-3">
    <div class="border rounded-pill p-3">
      <div class="mx-auto text-center pb-2">
        <span><i class="fa-solid fa-burger fs-3"></i></span>
        <!-- <img src="" class="img-fluid" alt=""> -->
      </div>
      <div class="product-content text-center">
        <h6>{{ product.name }}</h6>
        <div>
          <p class="m-0">Price : {{ product.price | currency }}</p>
          <p class="m-0">Quantity : {{ product.quantity }}</p>
        </div>
        <div class="mt-2">
          <span class="mx-1"
            ><a [routerLink]="['/menu', product.id]"
              ><i class="fa-solid fa-eye text-warning"></i></a
          ></span>
          <span class="mx-1"
            ><a [routerLink]="['/menu', product.id, 'edit']"
              ><i class="fa-solid fa-pen-to-square text-info"></i></a
          ></span>
          <span class="mx-1"
            ><i
              (click)="deleteProduct(product.id)"
              class="fa-solid fa-trash text-danger"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  } } @empty {
  <div class="border rounded p-3">No products Exist</div>
  } }
</div>
